.header-photo{
    width: 500px;
}
header {
    text-align: center;
    color: rgb(17, 243, 36);
    font-weight: 900;
}
*{
    font-family: 'Courier New', Courier, monospace
}
.ingredients{
    font-style: italic;
}
ol{
    text-align: right;
    text-transform: strikethrough;
}